{% extends "layout.html" %}
{% block content %}
		
	<div class="content-section" style="border:4px outset #cecece; margin-top:2%; margin-bottom:6%; border-radius:10px; padding: 4%;">
		<div class="row">
			<div class="col-md-4">
				<img class="rounded-circle account-img" src="{{ image_file }}" style="border:2px solid black;">
			</div>
			<div class="col-md-8">
				<h2 class="account-heading">{{ current_user.user_name }}</h2>
				<div class="row">
					<div class="col-md-6 border-right" style="font-size: large;">
						<p class="text-secondary">{{ current_user.email }}</p>
						<p class="text-secondary">{{ current_user.contact }}</p>

						{% if current_user.role == 0 %}
							<p class="text-secondary">Landlord</p>            
						{% else %}
							<p class="text-secondary">Tenant</p>
						{% endif %}
					</div>
					<div class="col-md-6">
						<p class="text-secondary">My Rating: {{ current_user.user_rating }}</p>
						<p class="text-secondary">My Coins: {{ current_user.user_coins }}</p>
					</div>
				</div>
			</div>
		</div>		
	</div>

{% endblock content %}

{% block content1 %}
		<br>
		<div class="content-section">
						<form method="POST" action="" enctype="multipart/form-data">
						{{ form.hidden_tag() }}
						<fieldset class="form-group">
								<legend class="border-bottom mb-4">Update Profile Picture</legend>
							 
								<div class="form-group">
										{{ form.picture.label() }}
										{{ form.picture(class="form-control-file") }}
										{% if form.picture.errors %}
												{% for error in form.picture.errors %}
														<span class="text-danger">{{ error }}</span></br>
												{% endfor %}
										{% endif %}
								</div>
						</fieldset>
						<div class="form-group">
								{{ form.submit(class="btn btn-outline-info") }}
						</div>
				</form>
					</div>

{% endblock %}
{% block content3 %}
	<h2>My Posts:</h2>
	{% if posts %}            
		{% for room in posts %}
			{% if current_user.id == room.user_id %}
				<main role="main" class="container" style="border:2px solid #cecece; margin-top:2%; margin-bottom:6%; border-radius:10px;">
					<div class="row">
						<div class="col-md-4" style="margin-top: 1%">
							<small class="text-muted">Posted by : <a href="{{ url_for('profile') }}">{{ current_user.user_name }}</a></small>
						</div>
					</div>
					<div class="row" style="padding: 2%">
						<div class="col-md-4" style="margin-top: 1%">
							<!-- <img alt="" class="u-blog-control u-expanded-width u-image u-image-default u-image-1" src="static/default.jpeg"> -->
							<div id="demo{{ room.id }}" class="carousel slide" data-ride="carousel">
								<!-- Indicators -->
								<ul class="carousel-indicators">
									<li data-target="#demo{{ room.id }}" data-slide-to="0" class="active"></li>
									<li data-target="#demo{{ room.id }}" data-slide-to="1"></li>
									<li data-target="#demo{{ room.id }}" data-slide-to="2"></li>
									<li data-target="#demo{{ room.id }}" data-slide-to="3"></li>
									<li data-target="#demo{{ room.id }}" data-slide-to="4"></li>
								</ul>
							  
							  <!-- The slideshow -->
								<div class="carousel-inner" style="width: 100%; height:100%;">

									<div class="carousel-item active">
										<img src={{ room.picture1 }} alt="Get rooms" width="1100" height="500">
									</div>
									<div class="carousel-item">
										<img src={{ room.picture2 }} alt="Search for rooms" width="1100" height="500">
									</div>
									<div class="carousel-item">
										<img src={{ room.picture3 }} alt="Search for rooms" width="1100" height="500">
									</div>
									<div class="carousel-item">
										<img src={{ room.picture4 }} alt="Search for rooms" width="1100" height="500">
									</div>
									<div class="carousel-item">
										<img src={{ room.picture5 }} alt="Search for rooms" width="1100" height="500">
									</div>
								</div>
							  
							  <!-- Left and right controls -->
								<a class="carousel-control-prev" href="#demo{{ room.id }}" data-slide="prev">
									<span class="carousel-control-prev-icon"></span>
								</a>
								<a class="carousel-control-next" href="#demo{{ room.id }}" data-slide="next">
									<span class="carousel-control-next-icon"></span>
								</a>
							</div>
						</div>
						<div class="col-md-4 border-right" style="margin-top: 1%">
							<p class="article-content">{{ room.area }}, {{ room.city }}</p>
							<p class="article-content">{{ room.state }}, {{ room.pincode }}</p>

							<!-- Flate Type : BHK          -->
							{% if room.bedrooms == 0 %}
								<p> Flat Type : 1-BHK </p>
							{% elif room.bedrooms == 1 %}
								<p> Flat Type : 2-BHK </p>
							{% elif room.bedrooms == 2 %}
								<p> Flat Type : 3-BHK </p>
							{% elif room.bedrooms == 3 %}
								<p> Flat Type : 4-BHK </p>   
							{% endif %}

							<p class="article-content">Rent : {{ room.rent }}</p>
							<p class="article-content">Rating : {{ room.flat_rating }}/10</p>
							<p class="article-content">Landlord's Nature : {{ room.landloard_nature }}</p>

							{% if room.neighbours_nature %}
								<p class="article-content">Neighbour's Nature : {{ room.landloard_nature }}</p>
							{% endif %}
							{% if room.comments %}
								<p class="article-content">Comments : {{ room.comments }}</p>
							{% endif %}
							<p class="article-content">Nearby : {{ room.nearby }}</p>
						</div>
						<div class="col-md-4" style="margin-top: 1%">

							<!-- Furnishing Type -->
							{% if room.furnishing_type == 0 %}
								<p> Furnishing Type : Not-Furnished </p>
							{% elif room.furnishing_type == 1 %}
								<p> Furnishing Type : Semi-Furnished </p>
							{% elif room.furnishing_type == 2 %}
								<p> Furnishing Type : Fully-Furnished </p>  
							{% endif %}

							<!-- Checkbox Furniture -->
							{% if room.refrigerator == True %}
								<p> <span> &#9745; </span> &nbsp Refrigerator </p>
							{% endif %}
							{% if room.washing_machine == True %}
								<p> <span> &#9745; </span> &nbsp Washing Machine </p>
							{% endif %}
							{% if room.ac == True %}
								<p> <span> &#9745; </span> &nbsp Air Conditioner </p>
							{% endif %}
							{% if room.almirah == True %}
								<p> <span> &#9745; </span> &nbsp Almirah </p>
							{% endif %}
							{% if room.bed == True %}
								<p> <span> &#9745; </span> &nbsp Bed </p> 
							{% endif %} 
							{% if room.geyser == True %}
								<p> <span> &#9745; </span> &nbsp Geyser </p>
							{% endif %}
							{% if room.gas_stove == True %}
								<p> <span> &#9745; </span> &nbsp Gas Stove </p>
							{% endif %}
							{% if room.sofa == True %}
								<p> <span> &#9745; </span> &nbsp Sofa Set </p>
							{% endif %}
						</div>
					</div>
				</main>
			{% endif %}
		{% endfor %}
	{% else %}
	<br><br>
	<h3>Sorry, No Post created yet..</h3>
	{% endif %}		
{% endblock %}