{% extends "layout.html" %}
{% block content %}
    
	<div>
	
	<marquee direction="right" scrollamount="5" behavior="alternate">Yaay!! Help other tenants and get rewards or win something cool..</marquee>
	<br>
	</div>

	<!-- Rewards images  -->
	<div style="display: flex;">
	<div style="flex: 50%; padding: 3%;">
	<img class="img-fluid img-thumbnail" src="./static/images/0phone.png" alt="iphone" style="width:100%">
	<font style="font-size:2vw;">Get iPhone using 10,000 coins*</font>
	</div>
	<div style="flex: 50%; padding: 3%;">
	<img class="img-fluid img-thumbnail" src="./static/images/0lap.png" alt="laptop" style="width:100%">
	<font style="font-size:2vw;">Get Laptop using 5,000 coins*</font>
	</div>
	</div>
	<div style="display: flex;">
	<div style="flex: 50%; padding: 3%;">
	<img class="img-fluid img-thumbnail" src="./static/images/0pod.png" alt="earpodes" style="width:100%">
	<font style="font-size:2vw;">Get Airpods using 1,000 coins*</font>
	</div>
	<div style="flex: 50%; padding: 3%;">
	<img class="img-fluid img-thumbnail" src="./static/images/0head.png" alt="headphones" style="width:100%">
	<font style="font-size:2vw;">Get Headphones using 800 coins*</font>
	</div>
	</div>


{% endblock content %}